USE_SUDO="sudo"
JOBS="10"
LINUX_VER="git"
BUILD_ROOT="${PWD}"
TOOLCHAIN_ROOT=""
BUILD_BINUTILS="${BUILD_ROOT}/build-binutils"
BUILD_GCC_S1="${BUILD_ROOT}/build-gcc-s1"
BUILD_GCC_S2="${BUILD_ROOT}/build-gcc-s2"
BUILD_GLIBC_S1="${BUILD_ROOT}/build-glibc-s1"
BUILD_GLIBC_S2="${BUILD_ROOT}/build-glibc-s2"
BUILD_QEMU="${BUILD_ROOT}/build-qemu"
ARCH="riscv"
BITS="64"
TAG="_1"
ABI="lp64"
ISA="rv64g"
TARGET="${ARCH}${BITS}-unknown-linux-gnu"
LIB_HEADER="linux.h"
BUILD_LINUX_ARCH=$ARCH
BUILD_LINUX="${BUILD_ROOT}/linux-${LINUX_VER}"
BUILD_LINUX_HEADERS="${BUILD_ROOT}/build-${TARGET}-linux-headers"
PREFIX="${TOOLCHAIN_ROOT}/opt/${ARCH}${BITS}${TAG}"
SYSROOT="${PREFIX}/sysroot"
PATH="${PREFIX}/bin:${PATH}"
